
<table class="table table-strip">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>POSITION</th>
        <th>OFFICE</th>
        <th>SALARY</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor = "let emp of employees">
        <td>{{emp._id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.position}}</td>
        <td>{{emp.office}}</td>
        <td>{{emp.salary}}</td>
        <td><a href="" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a></td>
    </tr>
</tbody>
</table>